@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:300&display=swap');
@import 'reset';
@import 'typography';

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
    // background-image: url('data/assets/FNaF.jpg');
    // background-image: url('/FNaF.jpg');
    background-size: cover;
    background-color: black;
    color: red;
}

.main {
    flex: 1 0 auto;

    &.four-oh-four {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: slategray;

        .title {
            font-size: 96px;
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    justify-content: space-evenly;
    min-height: 500px;
}

.box {
    border: 1px solid #707070;
    flex: 0 0 49%;
    margin-bottom: 24px;
    // min-height: 200px;
    padding: 18px;
}

.question {

    .sample {
        border: 1px solid #cacaca;
        margin: 12px 32px 6px 0;
        padding: 12px 14px;
    }
}

#letter-div {
    display: none;
}

#duck-div {
    display: none;
    position: absolute;
    height: 25%;
    width: 25%;
    left: 0;
    top: 0;
}
#duck-img {
    position: absolute;
    object-fit: cover;
    width: 50%;
    height: auto;
    left: 0;
    top: 0;
}

#letter, #submit-button, #start-button, #restart-button {
    background-color: black;
    border-color: orange;
    color: orange;
    outline: 0;
}
// #letter-selected {           trying to style the options of select but it seems to be difficult
//     background-color: black;
// }
// select > option {
//     background-color: black;
//     color: orange;
// }
#restart-div {
    display: none;
    position: absolute;
    top: 95%;
    width: 100%;
}

#restart-button {
    position: absolute;
    left: 0;
}

@media screen and (min-width: 900px) {
    
    #content {
        // flex-direction: row;
        // min-height: 500px;
    }
}

